.pokemon-detail {
  overflow: auto;
}

.active-screen {
  height: 100%;
}

.back-button {
  position: fixed;
  top: 2vw;
  left: 1vw;
  z-index: 10;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  color: #000000;
}

.shiny-button {
  position: fixed !important;
  top: 2vw;
  right: 1vw;
  z-index: 10;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.non-shiny {
  position: fixed !important;
  top: 2vw;
  right: 1vw;
  z-index: 10;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.non-shiny svg path {
  fill: black;
}

.non-shiny:hover {
  cursor: pointer;
}

.shiny-button:hover {
  cursor: pointer;
}

.pokemon-info {
  margin-top: vw;
  text-align: center;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  height: 100%;
}

.pokemon-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
}

.pokemon-description {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  margin: 5vw 0px 10px;
}

.pokemon-detail-name {
  font-weight: bold;
  font-size: 60px;
  line-height: 65px;
  text-transform: capitalize;
}

.pokemon-detail-number {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 32px;
}

.tab-button {
  position: relative;
  border: 0px;
  outline: 0px;
  width: 170px;
  background: none;
  font-size: 35px;
  line-height: 38px;
  color: rgb(255, 255, 255);
  opacity: 1;
  text-transform: capitalize;
}

.tab-button:hover {
  cursor: pointer;
}

.highlight-pokeball {
  position: absolute;
  top: -34px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  width: 170px;
  height: auto;
}
