@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(0, 52, 71);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding: 16px;
  margin: 20px;
  display: flex;
}

.left-content,
.right-content {
  flex-basis: 80%;
}

.left-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 8rem;
  margin: 20px;
}

.card {
  width: 300px;
  border-radius: 5rem;
  box-shadow: 0 10px 10px rgba(68, 68, 68, 0.5);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.right-content {
  width: 35%;
  text-align: center;
  color: black;
  position: fixed;
  top: 15%;
  right: -10%;
}

.abilities {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.abilities .group {
  background-color: #b74555;
  color: white;
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  text-transform: capitalize;
}

.abilities .group:nth-child(n + 2) {
  margin-left: 0.5rem;
}

.base-stat {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn-group {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: rgba(251, 255, 1, 0.567);
  color: white;
  text-align: center;
}

.btn-group button {
  outline: none;
  border: none;
  width: 200px;
  padding: 1rem 0;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.894);
  border-radius: 8px;
}

.search-filter-container {
  text-align: center;
}

.header {
  padding: 16px;
  text-align: center;
}

.clear-button {
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  flex-shrink: 0;
  text-transform: capitalize;
}

.clear-button:hover {
  cursor: pointer;
}

.filter-type {
  background-color: rgb(50, 130, 4) !important;
  margin: 10px !important;
}

.social-media {
  position: absolute;
  top: 10px;
  right: 50px;
  display: flex;
  gap: 3rem;
}
